*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

header{    
    background: #1E1E52;               
    color: #fff;          
    display: flex;         
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1vmax;    
    padding: -10em;     
}

header h1 {
    margin-top: 0.6em;
    text-align: center;
    margin-top: 2.5em;
}

.header{
    display: flex;
    justify-content: space-around;
    margin: 5%;
    align-items: center;
}

.Banner{    
    background: url(bannersimg/banner1sla.png) no-repeat;        
    background-size: cover;        
    color: #fff;          
    display: flex;         
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2.5vmax;           
    padding: 4.7em;
}

.header img{
    width: 10vmax;
}

.header a{
    text-decoration: none;
    font-size: 2vmax;
    color: #0400ff;    
}

.header a:focus,
.header a:hover{
    color: #27abd7;
}


.logo{    
    padding: 1%;
    list-style: none;
}

.logo img{
    width: 20vmax;    
}




.more{        
    padding-top: 10vmax;    
    width: 100%;    
    margin-top: -12em;                    
    text-align: center;
    font-size: 80%;    
}

.more span{
    background-color: #27abd7;            
    display: block;
    padding: 5%;    
}

.more p{
    padding-bottom: 3%;
    font-size: 1.5ch;    
}

.more a{
    text-decoration: none;    
    color: #27AAD7;    
    border-radius: 20px;
    padding: 1vmax;    
    background-color: #fff;
    font-size: 2ch;
}

.more a:focus,
.more a:hover{
    transition: .2s;
    background-color: #27AAD7;        
    color: #fff;
    border: 1px solid #fff;
}



#politica{    
    color: #fff;
    padding: 8% 10% 10% 10%;
    background: linear-gradient(#27abd771,#27abd771), url(assets/imgs/ft-top-bg.png) no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: -5em;
}

#politica h2{            
    color: #fff;
    width: max-content;
    padding: .5%;
    margin: 1% auto;        
    font-size: 3vmax;
    font-weight: 300;
}



#politica p{    
    text-align: left;
    font-size: 1.5vmax;   
    padding: 0.3em; 
}

#politica p > b{
    color: #ffa500;
    border-bottom: 1px solid #ffa500;
}

#termos{    
    margin-top: 5em;
    color: #fff;
    padding: 8% 10% 10% 10%;
    background: linear-gradient(#27abd771,#27abd771), url(assets/imgs/ft-top-bg.png) no-repeat;
    background-size: cover;
    text-align: center;
 
}

#termos h2{            
    color: #fff;
    width: max-content;
    padding: .5%;
    margin: 1% auto;        
    font-size: 3vmax;
    font-weight: 300;
}

#termos h3{            
    color: #fff;
    width: max-content;
    padding: .5%;
    margin: 1% auto;        
    font-size: 2vmax;
    font-weight: 300;
}

#termos p{    
    text-align: left;
    font-size: 1.5vmax;   
    padding: 0.3em; 
}

#termos li{    
    text-align: left;
    font-size: 1.5vmax;   
    padding: 0.3em; 
}

#termos p > b{
    color: #ffa500;
    border-bottom: 1px solid #ffa500;
}

/* FOOTER */


.ft-contact{
    display: block;    
    margin: 5% 0;
    font-size: 1.5vmax;       
}

.ft-contact ul{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    text-align: left;
}

.ft-contact li{
    display: flex;
    justify-content: center;    
    gap: 20px;
}

.ft-contact svg{
    color: #ffa500;
}

.rodape-div-1 img{
    height: 5rem;
}

.rodape{
    background-color: #2094f3;
    color: white;
    height: auto;
    width: 100%;
    font-size: 1.2rem;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 1em;
    justify-content: space-evenly;
}

.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    background-color: black;
   padding: 1rem;
    text-align: center;
}

/*mobile*/
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }

    .ft-top h2 {
        font-size: 1.5rem;
    }

    .ft-top img{
        margin: 2rem 12.5rem;
    }

    .rodape-div-1 img{
        height: 4rem;
    }


    .carousel p {
        text-align: center;
    }
}




/* MOBILE ADAPTATION */
@media (max-width: 480px){
    .logo{        
        margin: 0 auto;       
    }    

    .logo img{
        width: 20vmax;
        height: 5rem; 
    }

    .efeitoHeader{
        justify-content: center;
    }

    .more h1{
        font-size: 2rem;
    }

    .more p{
        font-size: 1.3rem;
    }



    .infos h2{
        font-size: 1.5rem;
    }

    

    .comentariodiv p{
        font-size: 0.9rem;
    }



    .form-box input[type="submit"]{
        margin: 0 auto;
    }


    
    .carousel h1{
        font-size: 2rem;
    }

    .carousel p{
        font-size: 1rem;
        text-align: center;
    }



    .ft-top h2{
        font-size: 1.4rem;
    }

    .ft-top img{
        margin: 2rem 4rem;
    }


    .rodape-div-1 img{
        height: 4rem;
    }

}